@import "@/common/styles/constants";
@import "@/common/styles/utilities";

.Card {
  width: 100px;
  height: 158px;
  background-color: $color-card-front-bg;
  border-radius: 10px;
  padding: 7px 10px;
  border: 1px solid $color-card-border;
  position: relative;
  font-weight: 600;

  > * {
    user-select: none;
  }

  &-centerValue {
    font-size: rem(20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--hidden {
    cursor: default;
    background: linear-gradient(
          90deg,
          $color-card-back-bg (22px - 2px),
          transparent 1%
        )
        center,
      linear-gradient($color-card-back-bg (22px - 2px), transparent 1%) center,
      hsl(0, 0%, 0%);
    background-size: 22px 22px;
  }

  &--clickable {
    cursor: pointer;

    > * {
      cursor: pointer;
    }
  }
}
